html {
  height: 100%;
}
body {
  background-color: white;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size:0.8rem;
  margin:0;
}
h1 {
  font-weight: bold;
  font-family: "Georgia", serif;
  text-align: center;
}
p {
}
a, a:active, a:visited {
  color: #66CCFF;
  text-decoration: none;
}

.navbar {
  margin: 0; 
  /* padding: 6em 0; */
  width:100%;
  overflow: hidden;
  color: #333;
  /* background-color: #333; */
  /* position: fixed;  Set the navbar to fixed position */
  top: 10px; /* Position the navbar at the top of the page */
  text-align: center;
  font-family: "Times New Roman", Times, serif; 
}
.navbar a {
  color: inherit;
  text-decoration: none; 
  font-size: 1.1rem;
}
.navbar ul{
  margin:auto;
   display: table;
   text-align: center;
  padding: 0;
  border-bottom:solid;
}
.navbar ul li{
  padding: 1em 2em;   
  display: inline-block;
  float: none;
}
.main-content {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding:1em;
}

.social {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.social li {
  display: inline-block; 
}
.social li img {
  height:30px;
  margin-right: 10px;
}

footer {
  margin-top: 5em;
  bottom: 0;
  width:100%;
  padding:0.2em;
  text-align: center;
  background-color: #191970;
  color: aliceblue;
}

