body {
  background-color: #FFFAFA;
  font-family: sans-serif;
}
h1 {
  font-weight: bold;
  font-family: "Georgia", serif;
  text-align: center;
}
p {
}
.navbar {
  margin: auto; 
  /* padding: 6em 0; */
  width:100%;
  overflow: hidden;
  color: #333;
  /* background-color: #333; */
  /* position: fixed;  Set the navbar to fixed position */
  top: 10px; /* Position the navbar at the top of the page */
  /* width: 100%; /* Full width */ 
  text-align: center;
}
ul{
   width: 100%;
   display: table;
   text-align: center;
}
ul li{
  padding: 1em;   
  display: inline-block;
     float: none;
}
